#out{
	z-index : 999;
	position : fixed;
	top : 0;
	right : 0;
	bottom : 0;
	left : 0;
	background : rgba(0, 0, 0, 0.6);
	#modalWindow{
		width : 900px;
		height : 540px;
		background-color : white;
		position : relative;
		box-sizing : border-box;
		margin : 50px auto;
		padding : 20px;
		background : white;
		#close{
			float : right;
			text-align : right;
			width : 100%;
			font-size : 25px;
		}
		#modifyList{
			margin : 0 auto;
			width : 100%;
			position : relative;
			box-sizing : border-box;
			justify-content : center;
			flex-direction : column;
			#problem-list-block{
				float : left;
				width : 320px;
				padding : 10px;
				.text{
					float : left;
				}
				select{
					float : right;
					vertical-align : top;
					height : 130px;
					width : 200px;
					padding : 10px;
				}
				#problem-list{
					height : 130px;
					padding : 5px;
					padding-left : 20px;
				}
				#button-box{
					height : 35px;
					padding-left : 165px;
					padding-top : 10px;
					button{
						height : 25px;
						width : 25px;
						font-size : 20px;
						font-weight : bold;
						text-align : center;
					}	
				}
				#test-problem-list{
					height : 130px;
					padding : 5px;
				}
			}
			#new-problem{
				float : right;
				width : 500px;
				padding : 15px;
				.form{
					width : 500px;
					padding : 5px;
					input{
						padding-left : 10px;
						height : 26px;
						width : 430px;
					}
				}
				#testcase-div{
					#input-case{
						float : left;
						width : 220px;
						padding-left : 5px;
					}
					#output-case{
						float : left;
						width : 220px;
						padding-left : 5px;
					}
					width : 450px;
					input{
						height : 26px;
						width : 210px;
						margin-bottom : 6px;
						margin-top : 6px;
						padding-left : 4px;
						border-style : none;
						background-color : #DDDDDD;
					}
				}
				#addProblemButton{
					width : 100%;
					text-align: right;
					button{
						margin-top : 7px;
						margin-right : 35px;
						border : 1px none #333333;
    					border-radius : 4px;
    					color : #FFFFFF;
    					padding : 4px 7px;
    					font-weight : bold;
    					background-color : #FF9900;
					}
				}
			}
		}
	}
}
