.Sidebar {
  float: left;
  width: 150px;
  height: 600px;
  display: block;
  margin-right: 15px;

  .accordion {
    background-color: #FFFFFF;
    color: #000000;
    cursor: pointer;
    // padding-left : 13px;
    // padding : 18px;
    // width : 100%;
    // height : 40px;
    // border : none;
    // text-align : left;
    // outline : none;
    // font-size : 15px;
    // transition : 0.4s;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }

  .panel {
    padding-left: 15px;
    display: none;
    background-color: white;
    font-size: 12px;

    .navLink {
      color: #000000;
      background-color: #FFFFFF;
      display: block;
      margin: 10px;
      transition: 0.4s;
      cursor: pointer;
    }
  }

  .active, .accordion:hover {
    background-color: #FF9900;
    color: #FFFFFF;
  }
}
